	<h1>GOOGLE LOGIN USING PASSPORT</h1>
    <div>
      <% if (user && user.google) { %>
        <h2> Below is the data sent by Google</h2>
        <pre>
          <%= user.google.id %>
        </pre>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/auth/google">Login with Google</a>
      <% } %>
    </div>
