<div id="modalNewClient" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>New client form</h4>
      </div>
      <div class="modal-body">
        <form>
        	<div>
        		<input type="text" placeholder="Name" name="name" required>
        	</div>
        	<div>
	        	<input type="text" placeholder="Address" name="address" required>
        	</div>
        	<div>
  	      	<input type="text" placeholder="Phone" name="phone" required>
        	</div>
        	<button type="submit" class="btn btn-success saveNewClient" data-dismiss="modal">Save</button>
          <button type="reset" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>