<div id='modalEditClient' class='modal fade' role='dialog'>
  <div class='modal-dialog modal-lg'>
    <!-- Modal content-->
    <div class='modal-content'>
      <div class='modal-header'>
        <h4>Edit client form</h4>
      </div>
      <div class='modal-body text-left'>
        <form class='form-group'>
        	<div class='row'>
            <label class='col col-3 offset-sm-1'>Name</label>
            <div class='col col-sm-6'>
          		<input type='text' name='name' id='editModalName' class='form-control'>
            </div>
        	</div>
        	<div class='row'>
            <label class='col col-3 offset-sm-1'>Address</label>
            <div class='col col-sm-6'>
	        	  <input type='text' name='address' id='editModalAddress' class='form-control'>
            </div>
        	</div>
        	<div class='row'>
            <label class='col col-3 offset-sm-1'>Phone</label>
            <div class='col col-sm-6'>
  	      	  <input type='tel' name='phone' id='editModalPhone' class='form-control'>
            </div>
        	</div>
          <div class='row'>
            <label class='col col-3 offset-sm-1'>Turf type</label>
            <div class='col col-sm-6'>
              <select name='turfType' id='editModalTurfType' class='form-control'>
                <option value='' default></option>
                <option value='St. Augustine'>St.Augustine</option>
                <option value='Bermuda'>Bermuda</option>
                <option value='Zoysia'>Zoysia</option>
              </select>
            </div>
          </div>
          <div class='row'>
            <label class='col col-3 offset-sm-1'>Last mowed</label>
            <div class='col col-sm-6'>
              <input type='date' name='lastMowed' id='editModalLastMowed' class='form-control'>
            </div>
          </div>
          <div class='row'>
            <div class='col col-12 text-center'>
              <button type='submit' class='btn btn-success btn-update-client' data-dismiss='modal'>Save</button>
              <button type='reset' class='btn btn-default' data-dismiss='modal'>Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>