	  <% include ./addClient %>
	  <% include ./editClient %>
    <!-- <script src='/javascripts/geocode.js'></script> --> 
    <script src='/javascripts/map.js'></script> 
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsAPIKey %>&callback=initMap"></script>
    <script src='/javascripts/app.js'></script> 
    <script src='/javascripts/cards.js'></script> 
    <script src='/javascripts/buttons.js'></script> 
  </body>
</html>
