<nav class='row bg-dark text-white sticky-top'>
	<div class='col col-2'>
		<i class='material-icons md-3'>menu</i>	
		<div>Menu</div>
	</div>
	<div class='col col-8'>
		<img src="images/grassIcon_32x32.png">
		<h3 class='text-uppercase font-weight-bold'><%= title %></h3>	
	</div>
	<div class='col col-2'>
    <% if (user) { %>
			<a href='/logout' class='text-success'>
				<i class='material-icons md-3'>account_circle</i>
				<div>Logout</div>
			</a> 
    <% } else { %>
	    <a href='/auth/google' class='text-muted'>
				<i class='material-icons md-3'>account_circle</i>
				<div>Login</div>
	    </a>
    <% } %>
	</div>
</nav>
