<div id="modalRemoveClient" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-left">
        Are you sure to remove this client?
      </div>
    </div>
  </div>
</div>