
<% include ../partials/header %>
<% include ../partials/login %>

<!--     <h1><%= title %></h1>
    <div id="geocode"></div>
    <div id="map"></div> -->

<%# include ../partials/cards %>
<%# include ../partials/footer %>