body {
  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
	height: 600px;
	width: 100%;
}

@media screen and (max-width: 480px) {
    body {
    	/*padding: 0px;*/
        width: 100%;
    }
    .card-row-phone, .card-row-lawn {
        display: none;
    }
}

div.scrollmenu {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    background-color: #333;
    display: inline-block;
    color: white;
    text-align: center;
    width: 180px;
    padding: 14px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.clientCard {
    text-align: left;
    border: solid;
    border-radius: 1.0em;
    padding: 1.0em;
}