body {
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
    padding: 1.0em;
    margin: 0 auto 1.0em;
}

a {
  color: #00B7FF;
}

#clients {
  padding: 3em;
}

#map {
    height: 600px;
    width: 100%;
}

@media screen and (max-width: 480px) {
    body {
        /*padding: 0px;*/
        width: 100%;
    }
    #clients {
      padding: 0;
    }
    .card-row-phone, .card-row-lawn {
        display: none;
    }
}

div.scrollmenu {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    background-color: #333;
    display: inline-block;
    color: white;
    text-align: center;
    width: 180px;
    padding: 14px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.clientCard {
    text-align: left;
    border: solid;
    border-radius: 1.0em;
    padding: 1.0em;
}

.material-icons.md-2 { font-size: 2em; }
.material-icons.md-3 { font-size: 3em; }
.material-icons.md-4 { font-size: 4em; }

#add-client {
    position: fixed;
    bottom: 2.0em;
    right: 2.0em;
    z-index: 1;
    text-align: center;
}
.btn-add-client {    
    /*text-align: center;*/
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.75em;
}