body {
  text-align: center;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
    padding: 1.0em;
    margin: 0 auto 1.0em;
}

a {
  color: #00B7FF;
}

#clients {
  padding: 0 3em;
}

#map {
    height: 600px;
    width: 100%;
}

@media screen and (max-width: 480px) {
    body {
        /*padding: 0px;*/
        width: 100%;
    }
    #clients {
      padding: 0;
    }
}

div.scrollmenu {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    background-color: #333;
    display: inline-block;
    color: white;
    text-align: center;
    width: 180px;
    padding: 14px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

div.scrollmenu a:hover {
    background-color: #777;
}

div.row {
    margin: 0.5em auto;
}

.clientCard {
    text-align: left;
    border: solid;
    border-radius: 1.0em;
    padding: 1.0em;
}

.material-icons.md-2 { font-size: 2em; }
.material-icons.md-3 { font-size: 3em; }
.material-icons.md-4 { font-size: 4em; }

#add-client {
    position: fixed;
    bottom: 2.0em;
    right: 3.0em;
    z-index: 1;
    text-align: center;
}
.btn-add-client {    
    /*text-align: center;*/
    width: 2.0em;
    height: 2.0em;
    border-radius: 1.0em;
    padding: 0;
}

.dropdown-menu {
    font-size: 24px;
    padding: 0.5em;
    border: solid white;
    border-radius: 0.5em;
}

.dropdown-menu li {
    text-decoration: none;
    margin: 0.5em;
}

.btn-social, .input-social-email {
    width: 100%;
    margin: 0.5em 0;
    color: white;
}

.btn-login-google {
    background-color: #DC4E41;
}
.btn-login-facebook {
    background-color: #3B5998;
}
.btn-login-twitter {
    background-color: #1DA1F2;
}
.btn-login-email {
    background-color: #f65620;
}
